*, *:before, *:after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}

li {
    list-style: none;
}

textarea {
    width: 100%;
    border: none;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    padding: 10px;
}

button {
    background-color: transparent;
    color: #434651;
    font-size: 1.3em;
    float: right;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 1s;
}

button:hover {
    opacity: 1;
    transition: opacity 2s;
}

button:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat {
    width: 490px;
    float:left;
    background: #F2F5F8;
    border-radius: 5px;
    color: #434651;
    padding: 30px;

}

.chat-history {
    margin-bottom: 10px;
    overflow-y: scroll;
    height: 30vh;
    scroll-behavior: auto;
}

.message-data {
    margin-bottom: 10px;
}

.message-data-align-right {
    margin-bottom: 10px;
}

.message-data-time {
    color: lighten(#92959E, 8%);
    padding-left: 6px;
}

.chat-massage {
    padding: 30px;
}

.chat-message-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lenguage-options>input.selected {
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
}

.lenguage-options>input.not-selected {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.message {      
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;

}

.message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.my-message {
    background: #86BB71;
}

.other-message {
    background: #94C2ED;

}

.other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
color: #86BB71;
}

.offline {
color: orange;
}

.me {
color: #94C2ED;
}

.align-left {
text-align: left;
}

.align-right {
text-align: right;
}

.float-right {
float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}